@import "./font.scss";
@import "./navigation.scss";
@import "./main-block.scss";
@import "./history-block.scss";
@import "./idea-block.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "SysertFont";
    -webkit-font-smoothing: antialiased;
    -moz-ox-font-smoothing: grayscale;
}


section,
form {
    max-width: 90rem;
    margin: 0 auto;
}

h1,
h2 {
    font-size: 2.5em;
    margin-bottom: 37px;
    font-weight: normal;
}

html::-webkit-scrollbar {
    display: none;
}

#generate-idea {
    font-size: 1.875em;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

form {
    input {
        font-size: 1em;
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-family: Arial;
        height: 60px;
        margin-top: 20px;
        padding-left: 10px;
    }

    button {
        font-size: 0.6em;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #c1ed32;
        border: none;
        color: white;
        font-family: Arial;
        padding: 20px 60px;
        cursor: pointer;
    }

    @media(max-width: 1000px) {
        input {
            width: 90%;
        }
    }
}

#generate-idea div[role=progressbar] {
    display: block !important;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

#generate-idea img {
    margin-top: 20px;
}

.sou {
    padding: 30px;

    img {
        position: absolute;
        left: 5%;
        top: 5%;
    }

    text-align: center;

    @media(max-width: 1000px) {
        img {
            position: static;
            display: block;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
}

.generate-result {
    width: 50%;
    margin: 0 auto;

    p {
        font-family: Arial;
    }

    img {
        width: 100%;
    }

    @media(max-width: 1000px) {
        width: 90%;
    }
}


.error {
    color: red;
    font-family: Arial;
    margin-bottom: 20px;
}