#history {
    position: relative;
    min-height: 969px;

    &::after {
        content: "";
        position: absolute;
        top: 20%;
        left: -20%;
        width: 694px;
        height: 516px;
        background-image: url('/background-history/background-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2;
    }

    &::before {
        content: "";
        position: absolute;
        top: 60%;
        left: 90%;
        width: 694px;
        height: 516px;
        background-image: url('/background-history/background-2.jpg');
        background-repeat: no-repeat;
        z-index: -2;
    }

    h2 {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -1490%;
            left: -20%;
            width: 705px;
            height: 862px;
            background-image: url('/background-history/background-text.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
        }
    }

    .constructor-list-block {
        margin: auto;
        margin-top: 50px;
        width: 80%;

        ul {
            border-radius: 50px;
            overflow: hidden;
        }

        h3 {
            font-size: 1.75em;
            margin-bottom: 10px;
            font-weight: normal !important;
        }

        p {
            font-size: 1em;
        }
    }

    .history-card {
        position: relative;
        overflow: hidden;
        background: linear-gradient(90deg, #279C93 0% 60%, #313131 60% 100%);

        .puzzle-part {
            position: absolute;
            top: 0;
            left: 55%;
            width: 236px;
            height: 160px;
            z-index: 2;
        }
    }

    li {
        position: relative;
        color: white;
        display: flex;
        height: 160px;
        text-align: center;
        align-items: center;

        .card-info {
            padding: 0 55px;
            width: 70%;

            p {
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        .card-date {
            position: relative;
            width: 50%;
            font-size: 2em;
            position: absolute;
            top: 0;
            left: 60%;
            bottom: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            transition: 1s;
            animation-timing-function: ease-out;
            position: absolute;
            width: 100%;
            height: 180px;
            left: 100%;
            top: 0;
        }

        &:hover img {
            left: 30px;
        }
    }
}

#history.completed {
    h2 {
        &::before {
            position: absolute;
            top: -10px;
            left: 25%;
            content: "✓";
            padding-top: 5px;
            box-sizing: border-box;
            text-align: center;
            color: #06EED3;
            border-radius: 50%;
            box-shadow: 0px 0px 8px #06EED3;
            background-color: white;
            width: 70px;
            height: 67px;
        }
    }
}

@media (min-width: 375px) {
    #history {
        display: none;
    }
}

@media (min-width: 1440px) {
    #history {
        display: block;
    }
}