.main-block {
    position: relative;

    .background {
        img {
            position: absolute;
            height: auto !important;
            z-index: -1;

            &:nth-child(1) {
                top: 0;
                right: 0;
            }

            &:nth-child(2) {
                top: 0;
                left: 0;
            }

            &:nth-child(3) {
                bottom: 0;
                left: 0;
            }
        }
    }
}


#main {
    padding-top: 250px;
    padding-bottom: 250px;

    .flex {
        display: flex;
        justify-content: space-between;
        gap: 10%;

        .text-block {
            padding-top: 44px;

            p {
                font-size: 1.5em;
            }
        }
    }
}